body {
  font-family: Arial, sans-serif;
  background-color: #fdfdfd;
  color: #333;
  margin: 20px;
}

h1,
h2 {
  color: #2c3e50;
  font-family: "Georgia", serif;
}

.color-sample {
  display: inline-block;
  width: 100px;
  height: 30px;
  margin: 5px;
  border: 1px solid #000;
}

.color-sample.orange {
  background-color: #f39c12;
}

.color-sample.blue {
  background-color: #2c3e50;
}

.wireframe {
  border: 2px dashed #999;
  padding: 20px;
  margin: 10px 0;
  text-align: center;
  background-color: #f0f0f0;
}
